@charset "UTF-8";
#shopping {
  width: 980px;
  margin: auto;
}

#shopping .clearfix {
  height: 55px;
  padding-top: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #7A7F89;
}

#shopping .clearfix .hed {
  color: #666;
  font-weight: normal;
  font-size: 1em;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
  box-sizing: border-box;
  line-height: 39px;
}

#shopping .clearfix .hed a {
  font-weight: normal;
  font-size: 1em;
  color: #a10000;
  padding: 0 5px;
}

#shopping .clearfix .hed .hed_left {
  margin-right: 30px;
}

#shopping .flow {
  width: 540px;
  height: 28px;
  margin-top: 10px;
  background: url(../css/img/newProm.gif);
}

#shopping .flow span {
  line-height: 28px;
  text-align: center;
  display: inline-block;
  width: 170px;
  height: 28px;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
  font-weight: bold;
}

#shopping .flow span p {
  line-height: 28px;
}

#shopping .flow .span1 {
  color: #fff;
}

#shopping .flow .span2,
#shopping .flow .span3 {
  color: #666;
}

#shopping #cont {
  height: auto;
}

#shopping #cont .cart_top {
  margin-top: 10px;
  height: 30px;
  background: url(../css/img/newpromotion.gif) no-repeat;
  background-position: -460px 0px;
}

#shopping #cont .cart_top .myshopping {
  text-indent: 45px;
  line-height: 38px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#shopping #cont .hint {
  margin-top: 6px;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
  color: #656565;
  line-height: 20px;
}

#shopping #cont .hint span {
  color: #a10000;
  line-height: 20px;
}

#shopping #cont .commodity {
  margin-top: 10px;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
  color: #333;
  border: 1px solid #DCDFE4;
  box-sizing: border-box;
}

#shopping #cont .commodity .title {
  height: 38px;
  font-weight: bold;
  font-style: normal;
  padding: 0 16px 0;
  border-bottom: 1px solid #B7B7B7;
  background: url(../css/img/carthd.png);
  box-sizing: border-box;
  margin-bottom: 20px;
}

#shopping #cont .commodity .title label {
  display: inline-block;
  text-align: center;
}

#shopping #cont .commodity .title .quanx {
  width: 80px;
  line-height: 38px;
  text-align: left;
}

#shopping #cont .commodity .title .quanx input {
  margin-right: 8px;
}

#shopping #cont .commodity .title .name {
  width: 340px;
  margin-left: 25px;
}

#shopping #cont .commodity .title .sezi,
#shopping #cont .commodity .title .price {
  width: 80px;
}

#shopping #cont .commodity .title .quantity {
  width: 100px;
}

#shopping #cont .commodity .title .discounts {
  width: 50px;
}

#shopping #cont .commodity .title .subtotal {
  width: 90px;
}

#shopping #cont .commodity .title .operation {
  width: 77px;
}

#shopping #cont .commodity .contet {
  margin-bottom: 17px;
}

#shopping #cont .commodity .contet ul {
  width: 944px;
  height: 80px;
  padding: 10px 0px;
  margin-left: 16px;
  box-sizing: border-box;
}

#shopping #cont .commodity .contet ul li {
  display: inline-block;
  line-height: 60px;
}

#shopping #cont .commodity .contet ul li:nth-child(1) {
  width: 50px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

#shopping #cont .commodity .contet ul li:nth-child(2) img {
  width: 50px;
  height: 49px;
  border: 1px solid #C8C8C8;
  box-sizing: border-box;
}

#shopping #cont .commodity .contet ul li:nth-child(3) {
  width: 360px;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}

#shopping #cont .commodity .contet ul li:nth-child(3) a {
  text-decoration: none;
  color: #333;
}

#shopping #cont .commodity .contet ul li:nth-child(4) {
  width: 70px;
  margin-right: 10px;
  text-align: center;
}

#shopping #cont .commodity .contet ul li:nth-child(5) {
  width: 70px;
  margin-right: 10px;
  text-align: center;
}

#shopping #cont .commodity .contet ul li:nth-child(6) {
  width: 100px;
  text-align: center;
}

#shopping #cont .commodity .contet ul li:nth-child(6) form {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

#shopping #cont .commodity .contet ul li:nth-child(6) form a {
  display: inline-block;
  width: 17px;
  height: 20px;
  background: url(../css/img/cartsprite.png);
  background-position: -85px 0px;
  text-indent: -9999px;
  cursor: pointer;
}

#shopping #cont .commodity .contet ul li:nth-child(6) form .add {
  background-position: 0px 0;
}

#shopping #cont .commodity .contet ul li:nth-child(6) form .reduce:hover {
  background-position: -68px 0px;
}

#shopping #cont .commodity .contet ul li:nth-child(6) form input {
  width: 30px;
  height: 18px;
  border: 1px solid #DCDFE4;
  text-align: center;
  line-height: 18px;
}

#shopping #cont .commodity .contet ul li:nth-child(7) {
  width: 50px;
  text-align: center;
}

#shopping #cont .commodity .contet ul li:nth-child(8) {
  width: 90px;
  text-align: center;
}

#shopping #cont .commodity .contet ul li:nth-child(9) {
  width: 77px;
  text-align: center;
}

#shopping #cont .commodity .contet ul li:nth-child(9) a {
  color: #999;
  cursor: pointer;
}

#shopping .cart_empty {
  color: Gray;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  margin-top: 50px;
  text-align: center;
  display: none;
}

#shopping .cart_empty a {
  color: #A10000;
  text-decoration: underline;
}

#shopping .summary {
  margin-top: 10px;
  margin: 12px 10px 20px 0;
  background: none repeat scroll 0 0 #FFFEF5;
  border: 1px solid #EBE5BB;
  line-height: 25px;
  position: relative;
  top: 0px;
  z-index: 1;
  box-sizing: border-box;
}

#shopping .summary .bar {
  width: auto;
  padding: 14px 42px 0 13px;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
  color: #333;
}

#shopping .summary .bar a {
  background: transparent;
  border: 0 none;
  color: #333;
  cursor: pointer;
  margin-left: 20px;
}

#shopping .summary .bar .sp1 {
  padding-left: 42px;
}

#shopping .summary .bar .sp1 em {
  color: #a10000;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
}

#shopping .summary .bar .sp2 {
  padding-left: 42px;
  font-style: normal;
  font-weight: bold;
  color: #a10000;
}

#shopping .summary .bar_summary {
  padding: 10px 10px 10px 13px;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
  color: #333;
}

#shopping .summary .bar_summary span {
  font-size: 24px;
  color: #a10000;
}

#shopping .summary .btn_panel {
  font: 12px Arial, Helvetica, sans-serif, 宋体;
  position: absolute;
  width: 305px;
  height: 65px;
  line-height: 65px;
  bottom: 0;
  right: 0;
}

#shopping .summary .btn_panel .p1 {
  position: absolute;
  top: 7px;
  text-align: center;
  line-height: 37px;
  color: #666;
  width: 122px;
  height: 37px;
  background: url(../css/img/newpromotion.gif);
  background-position: -160px 0px;
  font-size: 14px;
  cursor: pointer;
}

#shopping .summary .btn_panel .p2 {
  position: absolute;
  left: 132px;
  width: 160px;
  height: 50px;
  background: url(../css/img/newpromotion.gif);
  background-position: 0px 0px;
  color: #fff;
  font: normal 20px Microsoft Yahei, Microsoft JHenghei, SimHei;
  line-height: 50px;
  text-indent: 50px;
  cursor: pointer;
}

#shopping .footer {
  margin-top: 30px;
  margin-bottom: 20px;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
}

#shopping .footer .title {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

#shopping .footer .img {
  text-align: center;
}

#shopping .footer .img span {
  display: inline-block;
}

#shopping .footer .img .span1 {
  width: 156px;
  height: 46px;
  background: url(../css/img/cert_redlogo.gif);
}

#shopping .footer .img .span2 {
  margin-left: 20px;
  width: 156px;
  height: 45px;
  background: url(../css/img/cert_costumeorg.gif);
}

#shopping .footer .img .span3 {
  margin-left: 20px;
  width: 96px;
  height: 42px;
  background: url(../css/img/cert_wsjybzzx.gif);
}
