#reg {
    .log {
        margin-top: 1px;
        height: 70px;
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: solid 1px #919191;
        box-sizing: border-box;
        h1 {
            height: 60px;
            img {
                cursor: pointer;
            }
            a {
                font-family: "Microsoft Yahei";
                font-size: 12px;
                color: #333333;
                float: right;
                margin: 0 5px;
                margin-top: 20px;
                cursor: pointer;
            }
        }
    }
    form {
        position: relative;
        height: auto;
        margin-bottom: 20px;
        .content_letf {
            padding-top: 90px;
            width: 465px;
            margin-left: 130px;
        }
        .content_rigth {
            // position: absolute;
            padding-top: 50px;
            width: 415px;
            margin-left: 100px;
            box-sizing: border-box;
            h2 {
                font-size: 22px;
                color: #979797;
                font-weight: bolder;
                text-align: left;
                height: 25px;
                line-height: 25px;
                // float: right;
                margin: 0 100px 0 0;
                width: 400px;
                position: relative;
                span {
                    font-size: 14px;
                    font-weight: normal;
                    a {
                        color: #b42025;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
            .show {
                .mb {
                    padding: 10px 20px 10px;
                    display: inline-block;
                    #mobile {
                        width: 250px;
                        height: 45px;
                        box-sizing: border-box;
                        text-indent: 10px;
                    }
                    .yzm {
                        width: 97px;
                        height: 45px;
                        text-align: center;
                        line-height: 45px;
                        background: #f5f5f5;
                        color: #b52024 !important;
                        border: solid 1px #cbcbcb;
                        margin: 0 0 0 10px;
                        font-weight: bolder;
                        font-family: "Microsoft Yahei";
                        font-size: 12px;
                        box-sizing: border-box;
                    }
                }
                .auth {
                    display: inline-block;
                    padding: 10px 15px 10px 20px;
                    #code {
                        width: 145px;
                        height: 45px;
                        box-sizing: border-box;
                        text-indent: 10px;
                        border: solid 1px #cbcbcb;
                    }
                    ._quickpiccodeimg {
                        width: 135px;
                        height: 45px;
                        border: solid 1px #cbcbcb;
                        box-sizing: border-box;
                        border-left: none;
                    }
                    .cut {
                        line-height: 18px;
                        color: #CC0000;
                        font-family: "Microsoft Yahei";
                        font-size: 12px;
                        cursor: pointer;
                        margin-left: 4px;
                    }
                }
                #inpu {
                    width: 360px;
                    height: 45px;
                    margin: 10px 20px;
                    box-sizing: border-box;
                    text-indent: 10px;
                }
                input::-webkit-input-placeholder {
                    color: #acacac;
                }
                width: 400px;
                margin-top: 18px;
                border: 1px solid #cbcbcb;
                border-bottom: none;
                height: auto;
                .show_left {
                    width: 200px;
                    height: 35px;
                    line-height: 35px;
                    float: left;
                    text-align: center;
                    background: #b42025;
                    color: #fff;
                    font-weight: bolder;
                    cursor: pointer;
                    font-size: 14px;
                }
                .show_right {
                    cursor: pointer;
                    width: 200px;
                    height: 35px;
                    line-height: 35px;
                    float: left;
                    text-align: center;
                    background: #f5f5f5;
                    color: #656565;
                    cursor: pointer;
                    font-size: 14px;
                }
                .box {
                    .pt {
                        position: absolute;
                        height: 18px;
                        bottom: -9px;
                        clear: both;
                        width: 220px;
                        // min-height: 16px;
                        // line-height: 18px;
                        color: #A10000;
                        text-indent: 30px;
                        border: 1px solid #CC9998;
                        left: 50px;
                        display: none;
                        span {
                            margin-top: 2px;
                            margin-left: 5px;
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            background: url(../css/img/login_spritesbg.png);
                            background-position: -360px -662px;
                        }
                        em {
                            display: inline-block;
                            width: 167px;
                            height: 18px;
                            text-indent: 5px;
                            line-height: 18px;
                        }
                    }
                }
                .login {
                    display: inline-block;
                    position: relative;
                    #name {
                        margin: 20px 20px 10px;
                        width: 360px;
                        height: 45px;
                        border: 1px solid #CBCBCB;
                        text-indent: 10px;
                    }
                }
                .paw {
                    position: relative;
                    display: inline-block;
                    #paws {
                        margin: 9px 20px 10px;
                        width: 360px;
                        height: 45px;
                        border: 1px solid #CBCBCB;
                        text-indent: 10px;
                        box-sizing: border-box;
                    }
                }
                .find {
                    line-height: 30px;
                    display: inline;
                    color: #b42025;
                    font-size: 14px;
                    font-weight: bolder;
                    margin: 10px 20px 5px;
                    cursor: pointer;
                }
                .lg {
                    width: 360px;
                    height: 45px;
                    line-height: 45px;
                    background: #b42025;
                    color: #fff;
                    text-align: center;
                    font-size: 20px;
                    margin: 0px 20px 30px;
                    cursor: pointer;
                }
                .lg:hover {
                    font-weight: bolder;
                }
            }
            .rest {
                width: 400px;
                height: auto;
                border: 1px solid #cbcbcb;
                border-top: 1px dashed #CBCBCB;
                p {
                    color: #a4a4a4;
                    line-height: 14px;
                    font-size: 14px;
                    font-weight: bolder;
                    padding: 20px 20px 10px;
                }
                ul {
                    padding: 0px 20px 20px;
                    li {
                        width: 33px;
                        height: 33px;
                        margin-right: 10px;
                        background: url(../css/img/logos.jpg);
                        cursor: pointer;
                    }
                    li:nth-child(2) {
                        background-position: -145px 0px;
                    }
                    li:nth-child(3) {
                        background-position: -45px 0px;
                    }
                    li:nth-child(4) {
                        background-position: -185px 0px;
                    }
                    li:nth-child(5) {
                        background-position: -227px 0px;
                    }
                    li:nth-child(6) {
                        width: 36px;
                        background-position: -92px 0px;
                    }
                }
            }
        }
    }
    .footer {
        font: 100 12px "宋体";
        color: #999999;
        text-align: center;
        border-top: 1px solid #999;
        padding-top: 30px;
        ul {
            width: 526px;
            margin: 20px auto;
            padding-bottom: 5px;
            li {
                width: 113px;
                height: 42px;
                background: url(../css/img/register11.jpg);
                background-position: 0px -400px;
            }
            li:nth-child(2) {
                margin-left: 20px;
                width: 156px;
                height: 45px;
                background-position: 0px -448px;
            }
            li:nth-child(3) {
                margin-left: 20px;
                width: 96px;
                height: 42px;
                background-position: 0px -493px;
            }
            li:nth-child(4) {
                margin-left: 20px;
                width: 101px;
                height: 42px;
                background-position: -96px -493px;
            }
        }
    }
}