@charset "UTF-8";
#reg .log {
  margin-top: 1px;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #919191;
  box-sizing: border-box;
}

#reg .log h1 {
  height: 60px;
}

#reg .log h1 img {
  cursor: pointer;
}

#reg form {
  height: 592px;
}

#reg form input::-webkit-input-placeholder {
  color: #acacac;
}

#reg form .content_letf {
  padding-top: 90px;
  width: 465px;
  height: 500px;
  margin-left: 130px;
}

#reg form .content_rigth {
  padding-top: 43px;
  width: 415px;
  height: 423px;
  margin-left: 90px;
}

#reg form .content_rigth h2 {
  width: 415px;
  height: 35px;
  border-bottom: 2px solid #b81e20;
  color: #a2a2a2;
  font-size: 20px;
  line-height: 35px;
}

#reg form .content_rigth h2 span {
  font-size: 14px;
}

#reg form .content_rigth h2 span a {
  color: #b52024;
  margin: 0 0 0 3px;
}

#reg form .content_rigth .reg_sjh {
  position: absolute;
  height: 0px;
  color: #999;
  top: 46px;
  display: inline-block;
  font: 100 12px " SimSun";
  left: 2px;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
}

#reg form .content_rigth .ys {
  height: 45px;
  line-height: 45px;
  color: #656565;
  width: 410px;
  text-align: left;
  font-size: 12px;
  text-indent: 10px;
  border: solid 1px #cbcbcb;
  margin-left: 2px;
}

#reg form .content_rigth .reg_yzm {
  position: absolute;
  height: 0px;
  color: #a10000;
  top: 46px;
  display: inline-block;
  font: 100 12px " SimSun";
  left: 2px;
  box-sizing: border-box;
  text-align: center;
  z-index: 20;
  background: #f9f9f9;
  line-height: 24px;
  box-sizing: border-box;
  overflow: hidden;
}

#reg form .content_rigth .yzm,
#reg form .content_rigth .sjh {
  margin-top: 35px;
  padding-left: 2px;
  position: relative;
}

#reg form .content_rigth .yzm .verification,
#reg form .content_rigth .sjh .verification {
  width: 260px;
  border: solid 1px #cbcbcb;
  height: 43px;
  line-height: 43px;
  text-indent: 10px;
}

#reg form .content_rigth .yzm .yzmimg,
#reg form .content_rigth .sjh .yzmimg {
  display: inline-block;
  width: 140px;
  height: 45px;
  cursor: pointer;
  margin-left: 10px;
  border: solid 1px #cbcbcb;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

#reg form .content_rigth .sjh {
  margin-top: 20px;
}

#reg form .content_rigth .sjh .yzmimg {
  color: #b52024;
  border: solid 1px #cbcbcb;
  text-align: center;
  background: #f5f5f5;
  font-size: 12px;
  box-sizing: border-box;
  text-indent: 10px;
}

#reg form .content_rigth .sjyzm,
#reg form .content_rigth .paw,
#reg form .content_rigth .paws {
  position: relative;
  margin-top: 20px;
}

#reg form .content_rigth .clause {
  margin-top: 30px;
  color: #9d9d9d;
  font-size: 14px;
  line-height: 12px;
}

#reg form .content_rigth .clause a {
  color: #b52024;
  font-weight: bolder;
  line-height: 12px;
  font-size: 12px;
}

#reg form .content_rigth #btn {
  margin-top: 20px;
  width: 413px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-weight: bolder;
  background: #9A9A9A;
  cursor: pointer;
}

#reg .footer {
  font: 100 12px "宋体";
  color: #999999;
  text-align: center;
}

#reg .footer ul {
  width: 526px;
  margin: 20px auto;
  padding-bottom: 5px;
}

#reg .footer ul li {
  width: 113px;
  height: 42px;
  background: url(../css/img/register11.jpg);
  background-position: 0px -400px;
}

#reg .footer ul li:nth-child(2) {
  margin-left: 20px;
  width: 156px;
  height: 45px;
  background-position: 0px -448px;
}

#reg .footer ul li:nth-child(3) {
  margin-left: 20px;
  width: 96px;
  height: 42px;
  background-position: 0px -493px;
}

#reg .footer ul li:nth-child(4) {
  margin-left: 20px;
  width: 101px;
  height: 42px;
  background-position: -96px -493px;
}
